<html>
<head>
<title>comands.Catalog</title>
</head>
<body>
<h1>comands.Catalog contains the folowing items</h1>

<table border: 5px solid black>
	<tr>
	<th>ID</th>
	<th>TITLE</th>
	<th>LOCATION</th>
	<th>AUTHOR</th>
	<th>YEAR</th>
	<th>TYPE</th>
	</tr>
#foreach($item in $itemList)
<tr>
	<td>$item.getId()</td>
	<td>$item.getTitle()</td>
	<td>$item.getLocation()</td>
	<td>$item.getAuthor()</td>
	<td>$item.getYear()</td>
	<td>$item.getType()</td>
</tr>
#end
</table>

</body>
</html>